localhost {
  respond "Hello, local world!"
}

dl-imetrical.spdns.org {
  respond "Hello, spdyn world!"
}

dl.imetrical.com {
  respond "Hello, iMetrical world!"
}

# Make nats over websockets available at wss://nats.dl.imetrical.com:443
nats.dl.imetrical.com {
  reverse_proxy nats:9222
}

natsql.dl.imetrical.com {
  # reverse_proxy dirac.imetrical.com:5000
  # also available at natsql:5000 because we are in the same compose file (network)
  reverse_proxy natsql:5000
}

# because deployed with different docker-compose (not visible)
scrobblecast.dl.imetrical.com {
  reverse_proxy dirac.imetrical.com:8000
}
